<html lang="pt-br">
<head>
	<title>Noticia 1</title>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">

	</head>
	<body style="background: #DDA0DD;">
	<h1>Noticia</h1>
	<h3>Nada alem da verdade</h3>
	<hr>
	<h2 class="titulo">rapunzel</h2>
	<p class="paragrafo">	Vejo enfim a luz brilhar
		Já passou o nevoeiro
		Vejo enfim a luz brilhar
		Para o alto me conduz
		E ela pode transformar
		De uma vez o mundo inteiro

		Tudo é novo, pois agora eu vejo
		É você a luz
		É você a luz.</p>
	
		<img class="imagem" src="../imagem/rapunzel.jpg" >
	<hr>
	<p class="dev-texto">Desenvolvido por: Marcela Munhoz
	<hr>

</body>
</html>